@charset "UTF-8";
/* CSS Document */


.hero{
	background-image: url("images/ShailnBannerImgFull.jpg");
		 background-size:cover;
	background-repeat: no-repeat;
	background-position: 0 50%;
	min-height: 585px;
	position: relative;
	}
@media screen and (max-width: 1024px) { /* Specific to this particular image */
  .hero {
    background-position: 50% 50%;
  }
}
.hero:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 200px;
	background: #ffffff;
-webkit-clip-path: polygon(0 49%, 100% 90%, 100% 100%, 0% 100%);
clip-path: polygon(0 49%, 100% 90%, 100% 100%, 0% 100%);

}
.fa {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 100%;
}

a.fa:hover {
    opacity: 0.7;
	color: #222222;
}

.fa-facebook {
  background: #e8e8e8;
  color: #222222;
}

.fa-linkedin {
  background: #e8e8e8;
  color: #222222;
}

.fa-vimeo {
 background: #e8e8e8;
  color: #222222;
}
.fa-behance {
 background: #e8e8e8;
  color: #222222;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .6rem .6rem;
}

.btn-primary {
  
    background-color: #70aec9;
    border-color: #70aec9;
}

.footer .bg{
	background-image: url("images/footer-img.png");
	background-repeat: no-repeat;
	background-position: right top;
	min-height: 49px;
	border-bottom: 6px #575757 solid;
}